.App {
  text-align: center;
  /* background-color: #282c34; */
}

.App-header {
  min-height: 30;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  display: flex;
}
